MINIO_ROOT_USER=some_minio_root_user
MINIO_ROOT_PASSWORD=some_minio_root_password
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

POSTGRES_USER=some_postgres_user
POSTGRES_PASSWORD=some_postgres_password

REDIS_PORT=6379

AUTH_PORT=8080
RECEIVER_PORT=8081
MANAGEMENT_PORT=8082
