{
    "server":
    {
        "port": 8080
    },
    "psql":
    {
        "host": "localhost",
        "port": 5432,
        "dbname": "regatta_tracker_db",
        "min_sessions": 5,
        "max_sessions": 25
    },
    "redis":
    {
        "host": "localhost",
        "port": 6379,
        "min_sessions": 5,
        "max_sessions": 25
    },
    "pooled_connection_timeout": 500,
    "access_token_validity_period": 900,
    "refresh_token_validity_period": 2592000,
    "refresh_tokens_limit": 5,
    "max_request_body_size": 1048576
}
